*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

header .headerContainer{
    max-width: 900px;
    margin: 40px auto;
}

.container{
    display: flex;
    max-width: 900px;
    margin: auto;
}

.container .leftSide{
    flex: 1;
    margin-right: 40px;
    
}
.container .leftSide h1{
    font-size: 40px;
    color: #3A4B5C;
    margin-bottom: 20px;
}

.container .leftSide p {
    margin-bottom: 30px;
    font-size: 17px;
    color: #6A7D8B;
}
.container .leftSide input:disabled{
    opacity: .5;
}
.container .leftSide input{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px 2px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(150, 163, 171, .5);
    outline: none;
    
}

.container .leftSide button{
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    padding: 15px 0;
    background-color: #227c9d;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    transition: all ease 0.3s;
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.247);
}

.container .leftSide button:hover{
    opacity: 0.8;
   
}
.container .leftSide button:disabled{
    opacity: .5;
    cursor: default;
}

.container .rightSide{
    flex: 1;
    margin-left: 40px;
    display: flex;
}

.container .rightSide .grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.container .rightBig{
    flex: 1;
    display: flex;
    transition: all 0.3s;
}


.container .rightSide .rightArrow{
    position: absolute;
    background-color:#227c9d;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -50px;
    margin-top: 145px;
    transition: all 0.3s;
    z-index: 1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.719);
}

.container .rightSide .rightArrow:hover{
    opacity: .8;  
    transform: scale(1.1);
}

@media (max-width:920px) {

    header .headerContainer{
        margin-top: 40px;
        padding-left: 30px;
        margin-bottom: 0;
    }
    .container{
        padding: 30px;
    }
}

@media (max-width:780px) {
    .container{
        flex-direction: column;
        padding: 20px;
    }
  
    .container .leftSide{
        margin-right: 0;
    }
    .container .rightSide{
        margin-top: 20px;
        margin-left: 0;
    }

    .container .rightBig{
       padding: 20px;
    }
    .container .rightSide .rightArrow{
        margin-left: 130px;
        margin-top: 280px;
    }

    @media (max-width:500px) {
        .container{
            width: 100vw;
            padding: 25px;
            background-color: rgb(255, 255, 255);
        }
        .container .rightSide .grid{
            flex: 1;
            display: grid;
            grid-template-columns: 1fr;
            padding: 20px;
        }
        .container .rightSide .rightArrow{
            margin-left: -15px;
            margin-top: -10px;
        }
    }
}